$color-primary: #fc5666;
$color-secondary: #3fa5a0;
$footer-height: $lineHeight * 12;


/**
 * HEADER
 */

.header-main {
	height: $lineHeight * 13;
	background-image: url(../images/dots-big.png);
	background-attachment: fixed;
	background-color: #333;
	box-shadow: inset 0px -2px 2px 0px rgba(51,51,51,1.0);
	padding: 0 $lineHeight;

	@include medium {
		height: $lineHeight * 20;
	}
}

.header__img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}





/**
 * NAV
 */

.nav-main {
	background-color: $color-secondary;
	padding-left: $lineHeight;
	
	@include medium {
		padding-left: $lineHeight * 2;
	}

  ol {
  	padding-top: 0;
  	margin-left: -15px;
  }

  li {
  	display: inline-block;
  }
  
  a {
  	padding: $lineHeight/2 5px;
    color: white;
    text-decoration: none;
    font-size: $fontBase;

    @include medium {
		padding: $lineHeight 15px;
		font-size: $fontMedium;
	}

    &:hover {
		background: lighten($color-secondary, 10%);
    }

  }

}





/**
 * MAIN
 */

main {
	margin-bottom: $footer-height;
	background-color: white;

	 a {
	 	color: $color-primary;

	 	&:hover {
	 		color: $color-secondary;
	 	}

 	}
}

section {
	position: relative;
}

.img-grid {
	width: 33.33%;
	float: left;
}

.half {
	@include medium {
		width: 50%;
		float: left;
		z-index: 2;
		height: 500px;
	}
}

.half--padding {
		padding: $lineHeight * 2 $lineHeight;

	@include medium {
		padding: $lineHeight * 2;
	}
}

.half--img__when {
	@include medium {
		background-image: url(../images/flowers-small.jpg);
		background-size: cover;
	}
}

.half--img__where {
	@include medium {
		background-image: url(../images/venue-mbc-small.jpg);
		background-size: cover;
		background-position: bottom;
	}
}

.half--img__acc {
	@include medium {
		background-image: url(../images/bouqet.jpg);
		background-size: cover;
	}
}

.contact {
	padding-top: $lineHeight;
	padding-bottom: $lineHeight * 2;
}





/**
 * FOOTER
 */

.footer-main {
	height: $footer-height;
	width: 100%;
	position: fixed;
	z-index: -1;
	bottom: 0;
	padding: $lineHeight * 2;
}

.footer-heart {
	width: 250px;
}





/**
 * UTILS
 */

.bg-primary {
	background: $color-primary;
	color: white;
}

.bg-secondary {
	background: $color-secondary;
	color: white;
}

.bg-dark {
	background: #444;
	color: white;
}

.padding-none {
	padding-top: 0;
}

.padding-small {
	padding-top: $lineHeight / 2;
}

.text-italic {
	font-style: italic;
}

.text-bold {
	font-weight: 500;
}

.text-primary {
	color: $color-primary;
}

.text-secondary {
	color: $color-secondary;
}


