$color-primary: #fc5666;
$color-secondary: #3fa5a0;
$footer-height: $lineHeight * 11;


/**
 * HEADER
 */

.header-main {
	height: $lineHeight * 20;
	background-image: url(../images/dots.svg);
	background-size: cover;
	background-attachment: fixed;
	background-color: #333;
	box-shadow: inset 0px -2px 2px 0px rgba(51,51,51,1.0);
}

.header__img {
	max-width: 600px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}





/**
 * NAV
 */

.nav-main {
	background-color: $color-secondary;

  ol {
  	display: flex;
  	flex-direction: row;
  	padding-top: 0;
  	margin-left: -15px;
  }
  
  a {
  	padding: $lineHeight 15px;
    color: white;
    text-decoration: none;
    font-size: $fontMedium;

    &:hover {
		background: lighten($color-secondary, 10%);
    }

  }

}





/**
 * MAIN
 */

main {
	margin-bottom: $footer-height;
	background-color: white;
	box-shadow: 3px 2px 2px 0px rgba(51,51,51,0.5);

	 a {
	 	color: $color-primary;

	 	&:hover {
	 		color: $color-secondary;
	 	}

 	}
}

section {
	// margin-top: $lineHeight * 2;
	position: relative;
	// height: 100%;
}

.img-grid {
	// width: 16.666666667%;
	// width: 14.285714286%;
	width: 33.33%;
	float: left;
	// border: 1px solid white;
}

.half {
	@include medium {
		width: 50%;
		float: left;
		z-index: 2;
		height: 500px;
	}
}

.half--img__venue {
	background-image: url(../images/venue-mbc.jpg);
	background-size: cover;
}

.half--img__dt {
	background-image: url(../images/flowers.jpg);
	background-size: cover;
}

.half--img__acc {
	background-image: url(../images/dandt-snow.jpg);
	background-size: cover;
}

.half--padding {
	padding-left: $lineHeight * 2;
	padding-right: $lineHeight * 2;
}

.bg-primary {
	background: $color-primary;
	color: white;
}

.bg-secondary {
	background: $color-secondary;
	color: white;
}

.bg-dark {
	background: #444;
	color: white;
}

.padding-none {
	padding-top: 0;
}

.text-italic {
	font-style: italic;
}

.contact {
	padding-top: $lineHeight;
	padding-bottom: $lineHeight * 2;
}


/**
 * FOOTER
 */

.footer-main {
	// background-color: $color-primary;
	height: $footer-height;
	width: 100%;
	position: fixed;
	z-index: -1;
	bottom: 0;
	padding: $lineHeight * 2;

	// color: white;
}

.footer-heart {
	width: 250px;
}



