$color-primary: #fc5666;
$color-secondary: #3fa5a0;
$footer-height: $lineHeight * 12;

/**
 * HEADER
 */

.header-main {
	position: relative;
	height: $lineHeight * 13;
	background-image: url(../images/dots-new.png);
	background-attachment: fixed;
	background-color: #333;
	box-shadow: inset 0px -2px 2px 0px rgba(51,51,51,1.0);
	padding: 0 15px;

	@include medium {
		// height: $lineHeight * 20;
		height: 80vh; 
	}
}

.header__img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}





/**
 * NAV
 */

.nav-main {
	background-color: $color-secondary;
	padding-left: $lineHeight;
	
	@include medium {
		padding-left: $lineHeight * 2;
	}

  ol {
  	padding-top: 0;
  	margin-left: -15px;
  }

  li {
  	display: inline-block;
  }
  
  a {
  	padding: $lineHeight/2 5px;
    color: white;
    text-decoration: none;
    font-size: $fontBase;

    @include medium {
		padding: $lineHeight 15px;
		font-size: $fontMedium;
	}

    &:hover {
		background: lighten($color-secondary, 10%);
    }

  }

}





/**
 * MAIN
 */

main {
	margin-bottom: $footer-height;
	background-color: white;

	 a {
	 	color: $color-primary;

	 	&:hover {
	 		color: $color-secondary;
	 	}

 	}
}

section {
	position: relative;
}

.half {
	@include medium {
		width: 50%;
		float: left;
		z-index: 2;
		height: 500px;
	}
}

.half--padding {
		padding: $lineHeight * 2 $lineHeight;

	@include medium {
		padding: $lineHeight * 2;
	}
}

.half--img__when {
	@include medium {
		background-image: url(../images/flowers-small.jpg);
		background-size: cover;
	}
}

.half--img__where {
	@include medium {
		background-image: url(../images/venue-mbc-small.jpg);
		background-size: cover;
		background-position: bottom;
	}
}

.half--img__acc {
	@include medium {
		background-image: url(../images/bouqet.jpg);
		background-size: cover;
	}
}


// Contact info

.contact {
	padding-top: $lineHeight * 4;
	padding-bottom: $lineHeight * 5;
}


// Our pics

.img-grid {
	width: 100%;

	@include medium {
		width: 33.33%;
		float: left;
	}
}





/**
 * FOOTER
 */

.footer-main {
	height: $footer-height;
	width: 100%;
	position: fixed;
	z-index: -1;
	bottom: 0;
	padding: $lineHeight * 2;
	background-color: white;
}

.footer-heart {
	width: 250px;
}





/**
 * UTILS
 */

.bg-primary {
	background: $color-primary;
	color: white;
}

.bg-secondary {
	background: $color-secondary;
	color: white;
}

.bg-dark {
	background: #444;
	color: white;
}

.padding-none {
	padding-top: 0;
}

.padding-small {
	padding-top: $lineHeight / 2;
}

.text-italic {
	font-style: italic;
}

.text-bold {
	font-weight: 500;
}

.text-primary {
	color: $color-primary;
}

.text-secondary {
	color: $color-secondary;
}

.text-light {
	color: #888;
}


.animate-opacity {
  animation: opacity 650ms cubic-bezier(0.175, 0.885, 0.32, 1.275) both 1.5s;
}

@keyframes opacity {
	0% { 
		opacity: 0;   
	}
	100% {
		opacity: 1;
	}
}


.animate-opacity-hero {

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #333;
  	animation: opacity-hero 500ms ease-in both 100ms;
 	}
}

@keyframes opacity-hero {
	0% { 
		opacity: 1;   
	}
	100% {
		opacity: 0;
	}
}


.animate-down {
  animation: down 650ms cubic-bezier(0.175, 0.885, 0.32, 1.275) both 500ms;
}

@keyframes down {
  	0% { 
    	opacity: 0;
    	transform: translate3d(-50%, -100%, 0);    
  }
  	100% {
    	opacity: 1;
    	transform: translate3d(-50%, -50%, 0);
  }
}


.animate-right {
 	animation: right 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) both 750ms;

  	&:nth-child(2) {
  		animation-delay: 1s;
 	}

 	&:nth-child(3) {
  		animation-delay: 1.25s;
 	}

}

@keyframes right {
 	0% { 
		opacity: 0;
    	transform: translate3d(-15px, 0 , 0);    
  	}
  	100% {
   		opacity: 1;
    	transform: translate3d(0, 0, 0);
  	}
}


.animate-up {
  animation: up 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) both 750ms;
}

@keyframes up {
  	0% { 
    	opacity: 0;
    	transform: translate3d(0%, 25px, 0);    
  }
  	100% {
    	opacity: 1;
    	transform: translate3d(0%, 0%, 0);
  }
}


//loading spinner

.spinner {
	position: fixed;
	z-index: -1;
	left: 50%;
	margin-left: -20px;
	top: 90%;
  width: 40px;
  height: 40px;
  text-align: center;
  
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  border-radius: 100%;
  
  animation: bounce 2.0s infinite ease-in-out;
}

.dot1 {
	background-color: $color-primary;
}

.dot2 {
  top: auto;
  bottom: 0px;
  animation-delay: -1.0s;
  background-color: $color-secondary;
}

@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
  }
}


